# PostgreSQL
POSTGRES_DB=kosta_site
POSTGRES_USER=kosta
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Django — заработает на 1.1
DJANGO_SECRET_KEY=небезопасный-ключ-только-для-разработки
DJANGO_DEBUG=True
